*{
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 100px;
}
body,html{
    width: 100%;
    height: 100%;
    background: #f5f5f5;
}
.left{
    float: left;
}
.right{
    float: right;
}
/*头部*/
header{
    width: 100%;
    height: .40rem;
    background: #ff8a00;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
header>span{
    display: block;
    float: left;
    position: absolute;
}
header>span:nth-child(1){
    width: 1rem;
    height: .30rem;
    top: .05rem;
    left: .35rem;
    background: url("../img/index/logo.jpg")center center no-repeat;
    background-size: 100% 100%;
}
header>span:nth-child(2){
    width: .25rem;
    height: .30rem;
    top: .05rem;
    left: 2.17rem;
    background: url("../img/index/my.jpg")center center no-repeat;
    background-size: 100% 100%;
}
header>span:nth-child(3){
    width: .25rem;
    height: .30rem;
    top: .05rem;
    left: 2.64rem;
    background: url("../img/index/xiazai.jpg")center center no-repeat;
    background-size: 100% 100%;
}
/*banner*/
.banner{
    width: 100%;
    height: 2.25rem;
    position: relative;
}
.banner>img{
    width: 100%;
}
.banner>.ban-ser{
    position: absolute;
    top: 1.8rem;
    left: .14rem;
    border-radius: .05rem;
}
.ban-ser{
    width: 2.9rem;
    height: .35rem;
    border: .01rem solid #9e9e9e;
    background: #fff;
    box-sizing: border-box;
    position: relative;
}
.ban-ser>span{
    display: block;
    width: .20rem;
    height: .22rem;
    background: url("../img/index/seach.jpg")center center no-repeat;
    background-size: 100% 100%;
    margin:.05rem 0 0 .10rem;
}
.ban-ser>input{
    position: absolute;
    width: 2.38rem;
    height: .33rem;
    border: none;
    border-radius:0rem  .05rem .05rem 0rem;
    top: 0rem;
    left: .50rem;
}
/*icon图标*/
.icon{
    width: 100%;
    height: 110px;
    background:#ff8a00 ;
}
.icon>.list{
    display: flex;
    justify-content: space-around;
    /*align-items: center;*/
    flex-flow: row nowrap;
}
.icon>.list>li{
    list-style: none;
    display: flex;
    justify-content: space-around;
    /*align-items: center;*/
    flex-flow: row nowrap;
}
.icon>.list>li>a>span{
    display: block;
    color: #fff;
    font-size: .14rem;
    text-align: center;
    margin-top: .60rem;
}
.icon>.list>li>a{
    width: .55rem;
    height: .54rem;
    text-decoration:none;
    margin-top: .15rem;
}
.icon>.list>li:nth-child(1)>a:nth-child(1){
    background: url("../img/index/index_03.png")center center no-repeat;
    background-size: 100% 100%;
}
.icon>.list>li:nth-child(2)>a:nth-child(1){
    background: url("../img/index/index_05.png")center center no-repeat;
    background-size: 100% 100%;
}
.icon>.list>li:nth-child(3)>a:nth-child(1){
    background: url("../img/index/index_07.png")center center no-repeat;
    background-size: 100% 100%;
}
.icon>.list>li:nth-child(4)>a:nth-child(1){
    background: url("../img/index/index_09.png")center center no-repeat;
    background-size: 100% 100%;
}
/*找房无忧*/
.sec-home{
    width: 100%;
    height: 2.90rem;
    background: #f5f5f5;
}
.sec-home>img{
    width: 100%;
    height: auto;
    margin-top: .2rem;
}
.download{
    width: 100%;
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    overflow: hidden;
    height: .5rem;
}
.down-left{
    width: 65%;
    height: 100%;
    background: #000;
    opacity:.4;
    position: relative;
    overflow: hidden;
}
.close{
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: .14rem;
    height: .15rem;
    background: #333333;
    background: url("../img/index/close.png")no-repeat;
    background-size: 100% 100%;
}
.download .img{
    display: block;
    position: absolute;
    width: .3rem;
    height: .3rem;
    top: .1rem;
    left: .35rem;
    background: url("../img/index/download.png")no-repeat;
    background-size: 100% 100%;
}
.download .text{
    position: absolute;
    top: .04rem;
    left: .76rem;
    font-size: .14rem;
    color: #fff;
}
.download .text>span{
    color: #fff;
    font-size: .16rem;
}
.down-right{
    width: 35%;
    height: 100%;
    background: #ffa000;
}
.down-right>a{
    display: block;
    text-align: center;
    font-size: .14rem;
    color: #fff;
    line-height: .5rem;
    text-decoration: none;
}
/*热门房源*/
.hot-home{
    width: 100%;
    height: .6rem;
    background: #ff8a00;
    box-sizing: border-box;
}
.hot-home .hh-box{
    padding: .1rem 0 0 .2rem;
}
.hot-home .hh-box>h2,.hot-home .hh-box>h3{
    color: #fff;
    font-weight: bold;
}
.hot-home .hh-box>h2{
    font-size: .18rem;
}
.hot-home .hh-box>h3{
    font-size: .14rem;
}

.nav-box{
    margin: 0 .2rem;
}
.nav-list{
    list-style: none;
}
.nav-list>li{
    margin: .2rem 0rem;
    overflow: hidden;
    border-bottom: .01rem solid red;
}
.nav-list>li>.img{
    width: .81rem;
    height: .81rem;
    background: url("../img/index/img1.jpg")no-repeat;
    margin-bottom: .2rem;
}
.nav-list>li>#img{
    background: url("../img/index/img2.png")no-repeat;
}
.nav-list>li>#img1{
    background: url("../img/index/img3.png")no-repeat;
}
.nav-list>li>.name{
    margin-left: .1rem;
    width: 1.87rem;
}
.nav-list>li>.name>a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: .18rem;
}
.nav-list>li>.name>a>h2{
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    font-size: .18rem;
}
.nav-list>li>.name>p{
    height: .22rem;
    line-height: .22rem;
    overflow: hidden;
    font-size: .12rem;
}
.nav-list>li>.name>p>.price{
    color: #ffa000;
    font-weight: bold;
}
.nav-list>li>.name>p>.position,.nav-list>li>.name>p>.average{
    color: #474747;
}
.nav-list>li>.name>p:last-of-type a{
    text-decoration: none;
    color: #94a6b5;
    background: #edf0f2;
    padding: .03rem .05rem;
    margin-right: .05rem;
}
#bottom{
    border-bottom:transparent;
}

/*热门关注 友情链接*/
.hot-link{
    width: 100%;
    margin-top: .1rem;
    background: #fff;
    overflow: hidden;
}
.hl-l,.hl-r{
    width: 50%;
    box-sizing: border-box;
}
.hot-link h4{
    text-align: center;
    font-size: .16rem;
    height: .58rem;
    line-height: .58rem;
    box-sizing: border-box;
    border-bottom: .01rem solid #ffa000;
    color: #474747;
}
.hot-link ul{
    list-style: none;
}
.hot-link .active{
    border-bottom: .02rem solid #ffa000;
    color: #ffa000;
}
.hot-link ul{
    margin: .1rem 0;
}
.hot-link ul>li{

    font-size: .12rem;
   padding: .1rem .2rem;
}
.hot-link ul>li>a{
    text-decoration: none;
    color: #474747;
    font-size: .12rem;
}
/*底部*/
footer{
    width: 100%;
    background: #2f3130;
}
.foo-box{
    margin: 0 .2rem;
}
.foo-box>.text{
    font-size: .14rem;
    color: #939494;
    padding: .1rem 0;
    border-bottom: .01rem solid #abacac;
}
.foo-box>p,.foo-list>li>.con>p{
    font-size: .12rem;
    color: #939494;
}
.foo-list{
    overflow: hidden;
    list-style: none;
}
.foo-list>li{
    width: 50%;
    overflow: hidden;
    box-sizing: border-box;
    float: left;
    margin: .2rem 0;
}
.foo-list>li>.img,.foo-list>li>.img1{
    width: .18rem;
    height: .21rem;
    margin: 0 .2rem;
}
.foo-list>li>.img{
    background: url("../img/index/apple.png") no-repeat;
    background-size: 100% 100%;
}
.foo-list>li>.img1{
    background: url("../img/index/android.png") no-repeat;
    background-size: 100% 100%;
}
.center{
    text-align: center;
    font-size: .12rem;
    color: #939494;
}
.a{
    padding-bottom: .1rem;
}



