*{
    padding: 0px;
    margin: 0px;
}
html{
    font-size: 100px;
}
body,html{
    width: 100%;
    height: 100%;
    background: #f5f5f5;
}
.left{
    float: left;
}
.right{
    float: right;
}
/*头部*/
header{
    width: 100%;
    height: .40rem;
    background: #ff8a00;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
header>span{
    display: block;
    float: left;
    position: absolute;
}
header>span:nth-child(1){
    width: 1rem;
    height: .30rem;
    top: .05rem;
    left: .35rem;
    background: url("../img/index/logo.jpg")center center no-repeat;
    background-size: 100% 100%;
}
header>span:nth-child(2){
    width: .25rem;
    height: .30rem;
    top: .05rem;
    left: 2.17rem;
    background: url("../img/index/my.jpg")center center no-repeat;
    background-size: 100% 100%;
}
header>span:nth-child(3){
    width: .25rem;
    height: .30rem;
    top: .05rem;
    left: 2.64rem;
    background: url("../img/index/xiazai.jpg")center center no-repeat;
    background-size: 100% 100%;
}
.con{
    width: 100%;
    background: #fff;
    border-bottom: .01rem solid #ccc;
}
.con>p,.con>p>a{
    text-decoration: none;
    color: black;
    font-size: .12rem;
}
.con>p{
    margin-left: .15rem;
    height: .38rem;
    line-height: .38rem;
}
.lo{
    font-size: .12rem;
    margin-top: .15rem;
    text-align: center;
}
.lo>button{
    border: none;
    font-size: .16rem;
    padding: .1rem 1.1rem;
    color: #fff;
    background: #eb781c;
}
section{
    width: 100%;
}
section>.list{
    overflow: hidden;
    list-style: none;
    background: #fff;
}
section>.list>li{
    float: left;
    font-size:.12rem;
    width: 50%;
    height: .45rem;
    line-height: .45rem;
    text-align: center;
    box-sizing: border-box;
    border-bottom: .02rem solid #ccc;
}
section>.list>.active{
    border-bottom: .03rem solid #fe9416;
}
.sec{
    width: 100%;
    position: relative;
    background: #fff;
}
.sec-l,.sec-r{
    font-size: .12rem;
}
.sec-l>p>input,.sec-r>p>input{
    width: 100%;
    height: .4rem;
    line-height: .4rem;
    text-indent: .2rem;
}
.sec-l>p:nth-child(1){
    position: relative;
}
.sec-l>p>a{
    position: absolute;
    text-decoration: none;
    color: #474747;
    font-size: .12rem;
    top: .05rem;
    right: .1rem;
    padding: .07rem .1rem;
    border: .01rem solid #ccc;
}